 *{
    padding: 0;
    margin: 0;
 }
 /*
 1.use a more-intuitive box-sizing model */
 *, *::before, *::after{
    box-sizing: border-box;
 }
/*allow percentage-based heights in the application*/
html,body{
    height: 100%;
}
/* typographic tweaks!
add accessible line-height
improve text rendering
*/
body{
    line-height: 1.5;
    -webkit-font-smoothing:antialised;

}
// improve media fonts
img,picture,video,canvas,svg{
    display: block;
    max-width: 100%;
}
// remove inbuilt typography styles
input,button,textarea,select{
    font: inherit;
}
// avoid text overflows
p.h1,h2,h3,h4,h5,h6{
    overflow-wrap:break-word ;
}
// create a root stacking context
#root,#__next{
    isolation: isolate;
}
 body{
    font-family: 'Space Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:   hsl(185, 41%, 84%) ;
    
 }

.calculator-container{
    background-color:hsl(0, 0%, 100%) ;
    border: 1px solid hsl(0, 0%, 100%);
    
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
#Bill{
 background-image: url('images/icon-dollar.svg');
 background-position: left;
}
 #nop{
    background-image: url(images/icon-person.svg);
 }
.calc-2{
    background-color: hsl(183, 100%, 15%)   ;
    border: 1px solid  hsl(183, 100%, 15%) ;
    border-radius: 0.5em;
    
}